body {
    font-family: 'Courier New', Courier, monospace;
    background: url('Images/02.jpg') no-repeat center center fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    margin: 0;
    padding: 0;
}

.card {
    border: 2px solid #00ff00;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.card-img-top {
    border-bottom: 2px solid #00ff00;
}

blockquote {
    border-left: 4px solid #00ff00;
    padding-left: 10px;
}

footer {
    border-top: 2px solid #00ff00; /* Borde superior */
    background-color: #000;    /* Fondo del pie de página */
    color: #fff;               /* Color del texto */
    padding: 10px 0;             /* Espaciado interno */
}

footer p {
    font-size: 1.2rem; /* Tamaño del texto */
    display: flex;
    justify-content: center; /* Centrar el contenido */
    align-items: center;     /* Centrar verticalmente */
    gap: 10px;               /* Espacio entre iconos y texto */
}

footer img {
    width: 24px; /* Tamaño de los iconos */
    height: 24px;
}

#audioPlayer {
    display: none; /* Oculta el reproductor */
}